.modak-regular {
    font-family: "Modak", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  

:root{
    --cor-de-fundo: #CDE8FD;
    --botão: radial-gradient(circle at 50% 50%, #FCF498, #FFC23A);
    --laranja: #FF7828;
    --branco: #ffffff;
    --verde: #64AF1E;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: (Modak-regular);
}
.imagem{
    position: absolute;
    width: 500px;
    height: 500px;

}
.nuvem-1{
    height: auto;
    width: 700px;
    top: 20;
    left: 20;
}

.nuvem-2{
    height: auto;
    width: 700px;
}
.nuvem-3{
    height: auto;
    width: 700px;
}

.nuvem-4{
    height: auto;
    width: 700px;
}

.nuvem-5{
    height: auto;
    width: 700px;
}
.nuvem-6{
    height: auto;
    width: 700px;
}
.nuvem-7{
    height: auto;
    width: 700px;
}
.nuvem-8{
    height: auto;
    width: 700px;
}



